<%- include('./partials/head') %>

<link rel="stylesheet" href="/styles/categories.css">

<%- include('./partials/navbar') %>

<main>
    <ul>
        <% categories.forEach(category=> { %>
            <li>
                <a href="/categories/<% category.id %>">
                    <h2>
                        <%= category.name %>
                    </h2>
                    <p>ID : <%= category.id %></p>
            </li>
            <% }); %>
    </ul>
</main>


<%- include('./partials/foot') %>