<%- include('./partials/head') %>

    <link rel="stylesheet" href="/styles/detail.css">

    </head>

    <body>

        <%- include('./partials/navbar') %>

            <!-- One post to read -->
            <main>
                <section class="post">
                    <h2>
                        <%- post[0].title.rendered %>
                    </h2>
                    <section class="post-info">
                        <ul class="info-list">
                            <li class="author">
                                <%= post[0].yoast_head_json.author %>
                            </li>
                            <li class="date">
                                <%= post[0].date_gmt %>
                            </li>
                            <li class="read-time">
                                <%= post[0].yoast_head_json.twitter_misc["Geschatte leestijd"] %>
                            </li>
                        </ul>
                    </section>
                    <img src="<%= post[0].jetpack_featured_media_url %>" class="post-img">
                    </div class="article-content">
                    <p>
                        <%- post[0].content.rendered %>
                    </p>
                </section>
            </main>

            <%- include('./partials/foot') %>