<%- include('./partials/head') %>

    <link rel="stylesheet" href="/styles/detail.css">

    </head>

    <body>

        <%- include('./partials/navbar') %>

            <!-- One post to read -->
            <main>
                <section class="post">
                    <h2> <%- post[0].title.rendered %> </h2>
                    <section class="article_information">
                        <ul>
                            <li class="author_data">
                                <%= post[0].yoast_head_json.author %>
                            </li>
                            <li class="b_point">
                                •
                            </li>
                            <li class="category_data">
                                Category
                            </li>
                            <li class="b_point">
                                •
                            </li>
                            <li class="date_data">
                                <%= new Date(post[0].date_gmt).getDate() %> / <%= new Date(post[0].date_gmt).getMonth()
                                        %> / <%= new Date(post[0].date_gmt).getFullYear() %>
                            </li>
                        </ul>
                    </section>

                    <img src="<%= post[0].jetpack_featured_media_url %>" class="article_image">

                    <section class="rest_information">
                        <div class="link_button_section">
                            <form id="postForm" action="/post/<%= post[0].slug %>" method="POST">
                                <button class="copy_button">Link Kopieren</button>
                                <div id="copySuccess" hidden>
                                    <span style="font-family:'Inter', sans-serif;">Link copied!!</span>
                                </div>
                            </form>
                        </div>
                        <p class="est_read_time">Leestijd : <%= post[0].yoast_head_json.twitter_misc["Geschatte leestijd"] %>
                        </p>
                    </section>

                    <section class="article_content">
                        <strong class="content_excerpt">
                            <%- post[0].excerpt.rendered %>
                        </strong>
                        <p class="actual_content">
                            <%- post[0].content.rendered %>
                        </p>
                    </section>
                </section>
            </main>

            <%- include('./partials/foot') %>