<%- include('./partials/head') %>

    <link rel="stylesheet" href="/styles/detail.css">

    </head>

    <body>

        <%- include('./partials/navbar') %>


            <!-- One post to read -->
            <main>
                <a href="/">Terug naar het overzicht</a>
  <article>
    <h2><%- post[0].title.rendered %></h2>
      <div>
        <span><%= new Date(post[0].date).getDate() %>/<%= new Date(post[0].date).getMonth() %>/<%= new
      Date(post[0].date).getFullYear() %></span>
        <form action="/postTest/<%= post[0].slug %>" method="post">
          <input type="hidden" name="slug" value="<%= post[0].slug %>">
          <label for="share"><%= post[0].likes  %> keer geliked</label>
          <button type="submit" id="share"><span>Like dit artikel</span></button>
        </form>
      </div>
      
    </p>
    <%- article.content.rendered %>
  </article>
            </main>

            <%- include('./partials/foot') %>